* {
  box-sizing: border-box;
}

body {
  background: rgb(238, 238, 238);
  margin: 0 auto;
  max-width: 1198px;
}


/*HEADER*/

.nav {
  margin-top: 48px;
  width: 100%;
  position: relative;
}

.logo {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 0.56;
  letter-spacing: 1.2px;
  text-align: left;
  color: rgb(48, 48, 48);
}

.menu {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu__item {
  display: inline-block;
  margin-left: 38px;
}

.menu__item-link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: rgb(48, 48, 48);
}

.fa-bars {
  color: rgb(48, 48, 48);
}


/*SLIDER*/

.slider {
  margin: 100px auto 0;
  font-size: 0;
  width: 100%;
  height: 490px;
}

.slider__text {
  display: inline-block;
  font-size: 0;
  width: 50%;
  padding: 0;
  margin: 0;
  text-align: right;
  vertical-align: top;
}

.slider__text-title {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 150px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 3.8px;
  color: rgb(48, 48, 48);
  text-transform: uppercase;
  text-align: right;
}

.slider__text-title2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 150px;
  font-family: 'Raleway', sans-serif;
  font-size: 150px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 3.8px;
  color: rgb(48, 48, 48);
  text-transform: uppercase;
  text-align: right;
  margin-right: -30px;
}

.slider__text-description {
  display: inline-block;
  width: 100%;
  height: 100px;
  margin-top: 25px;
  margin-right: -15px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.6px;
  color: rgb(48, 48, 48);
  overflow: hidden;
}

.slider__text-link {
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
  margin-right: -15px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.6px;
  color: rgb(224, 0, 17);
}

.slider__image {
  display: inline-block;
  width: 50%;
  text-align: left;
  padding-left: 120px;
}


/*GALLERY*/

.gallery {
  margin-top: 185px;
  width: 100%;
  border-radius: 5px;
  background: rgb(255, 255, 255);
}

.gallery__text {
  width: 100%;
  padding: 110px 320px 0;
  text-align: center;
}

.gallery__text-title {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1.2px;
  text-align: center;
  color: rgb(48, 48, 48);
}

.gallery__text-image {
  margin-top: 10px;
}

.gallery__text-description {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.35;
  letter-spacing: 0.5px;
  text-align: center;
  color: rgb(48, 48, 48);
}

.gallery__img {
  width: 100%;
  padding: 72px;
  font-size: 0;
  border-radius: 5px;
}

.gallery__img--item1 {
  background: url(../img/speaker-pill.jpg) no-repeat;
  background-size: cover;
  width: 65.5%;
  margin-right: 36px;
  height: 387px;
  border-radius: 5px;
  float: left;
}

.gallery__img--item2 {
  background: url(../img/beats-by-dre.jpg) no-repeat;
  background-size: cover;
  width: 31%;
  height: 387px;
  border-radius: 5px;
  float: left;
}

.gallery__img--item3 {
  position: relative;
  width: 31%;
  margin-right: 36px;
  margin-top: 35px;
  height: 387px;
  background: rgb(223, 0, 8);
  border-radius: 5px;
  float: left;
}

.gallery__img--text {
  position: absolute;
  margin: 0;
  padding: 260px 63px 58px 37px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: rgb(255, 255, 255);
}

.gallery__img--text::after {
  content: "";
  display: block;
  margin-top: 11px;
  width: 92px;
  height: 5px;
  background: rgb(255, 255, 255);
}

.gallery__img--item4 {
  background: url(../img/men-shoes.jpg) no-repeat;
  background-size: cover;
  width: 31%;
  margin-right: 36px;
  margin-top: 35px;
  height: 387px;
  border-radius: 5px;
  float: left;
}

.gallery__img--item5 {
  background: url(../img/chair.jpg) no-repeat 50% 0%;
  background-size: cover;
  width: 31%;
  height: 387px;
  margin-top: 35px;
  border-radius: 5px;
  float: left;
}

.gallery__img::after {
  content: "";
  display: table;
  clear: both;
}


/*FOOTER*/

.footer {
  padding-top: 100px;
}

.footer-text {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: rgb(48, 48, 48);
}

.footer-text__title {
  padding: 0;
  margin: 0;
  font-size: 48px;
  line-height: 0.6;
  font-weight: 900;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.footer-text__description {
  padding: 27px 320px 37px;
  margin: 0;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.5px;
}

.footer-form {
  display: block;
  position: relative;
  font-size: 0;
  text-align: center;
}

.footer-form__input {
  display: inline-block;
  position: relative;
}

.footer-form__input-text {
  border: none;
  width: 494px;
  height: 70px;
  margin: 0 auto;
  background: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  line-height: 1.33;
  letter-spacing: 0.5px;
  color: rgb(150, 150, 150);
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  vertical-align: top;
}

.footer-form__input-text::placeholder {
  padding-left: 66px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  line-height: 1.33;
  letter-spacing: 0.5px;
}

.fa-envelope-o {
  position: absolute;
  top: 23px;
  left: 32px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  color: rgb(151, 151, 151);
}

.footer-form__button {
  display: inline-block;
  position: relative;
}

.footer-form__button-send {
  padding: 0;
  margin: 0;
  border: none;
  width: 208px;
  height: 70px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  vertical-align: top;
  background: rgb(225, 0, 17);
}

.footer-form__button-text {
  position: absolute;
  top: 30px;
  left: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 13px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.fa-caret-right {
  position: absolute;
  top: 23px;
  left: 157px;
  font-family: "FontAwesome";
  font-weight: normal;
  font-size: 24px;
  color: rgb(255, 255, 255);
}
