* {
  box-sizing: border-box;
}

body {
  max-width: 1198px;
  margin: 0 auto;
  background: rgb(238, 238, 238);
}


/*HEADER*/

.nav {
  position: relative;
  width: 100%;
  margin-top: 48px;
}

.logo {
  padding: 0;
  margin: 0;
  color: rgb(48, 48, 48);
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 0.56;
  letter-spacing: 1.2px;
  text-decoration: none;
}

.menu {
  position: absolute;
  top: 5px;
  right: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu__item {
  display: inline-block;
  margin-left: 31px;
}

.menu__item:nth-child(2) {
  display: inline-block;
  margin-left: 45px;
}

.menu__item-link {
  color: rgb(48, 48, 48);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.fa-bars {
  color: rgb(48, 48, 48);
}


/*SLIDER*/

.slider {
  width: 100%;
  height: 490px;
  margin: 100px auto 0;
  font-size: 0;
}

.slider__text {
  display: inline-block;
  width: 50%;
  padding: 0;
  margin: 0;
  font-size: 0;
  text-align: right;
  vertical-align: top;
}

.slider__text-title {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0 -23px 0 0;
  color: rgb(48, 48, 48);
  font-family: 'Raleway', sans-serif;
  font-size: 150px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 3.8px;
  text-align: right;
  text-transform: uppercase;
  text-indent: -25px;
}

.slider__text-description {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 100px;
  margin-top: 22px;
  margin-right: -18px;
  color: rgb(48, 48, 48);
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.6px;
}

.slider__text-link {
  display: inline-block;
  margin-top: 20px;
  margin-right: -15px;
  color: rgb(224, 0, 17);
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-decoration: none;
}

.slider__image {
  display: inline-block;
  width: 50%;
  padding-left: 120px;
  text-align: left;
}


/*GALLERY*/

.gallery {
  width: 100%;
  border-radius: 5px;
  margin-top: 185px;
  background: rgb(255, 255, 255);
}

.gallery__text {
  width: 100%;
  padding: 106px 320px 0;
  text-align: center;
}

.gallery__text-title {
  position: relative;
  padding: 0;
  margin: 0;
  color: rgb(48, 48, 48);
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1.2px;
  text-align: center;
}

.gallery__text-title::after {
  content: "";
  position: absolute;
  top: 63px;
  left: calc(50% - 106.5px);
  display: block;
  width: 213px;
  height: 17px;
  background: url(../img/underline.png) no-repeat 50% 50%;
  background-size: cover;
}

.gallery__text-image {
  margin-top: 10px;
}

.gallery__text-description {
  padding: 0;
  margin: 32px 0 0;
  color: rgb(48, 48, 48);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.35;
  letter-spacing: 0.5px;
  text-align: center;
}

.gallery__img {
  width: 100%;
  padding: 72px;
  border-radius: 5px;
  font-size: 0;
}

.gallery__img--item1 {
  width: 65.5%;
  height: 387px;
  border-radius: 5px;
  margin-right: 36px;
  float: left;
}

.gallery__img--item2 {
  width: 31%;
  height: 387px;
  border-radius: 5px;
  float: left;
}

.gallery__img--item3 {
  position: relative;
  width: 31%;
  height: 387px;
  border-radius: 5px;
  margin-right: 36px;
  margin-top: 35px;
  background: rgb(223, 0, 8);
  float: left;
}

.gallery__img--text {
  position: absolute;
  padding: 260px 63px 58px 37px;
  margin: 0;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 900;
}

.gallery__img--text::after {
  content: "";
  display: block;
  width: 92px;
  height: 5px;
  margin-top: 11px;
  background: rgb(255, 255, 255);
}

.gallery__img--item4 {
  width: 31%;
  height: 387px;
  border-radius: 5px;
  margin-right: 36px;
  margin-top: 35px;
  float: left;
}

.gallery__img--item5 {
  width: 31%;
  height: 387px;
  border-radius: 5px;
  margin-top: 35px;
  float: left;
}

.gallery__img::after {
  content: "";
  display: table;
  clear: both;
}


/*FOOTER*/

.footer {
  padding-top: 100px;
}

.footer-text {
  color: rgb(48, 48, 48);
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.footer-text__title {
  padding: 0;
  margin: 0;
  font-size: 48px;
  line-height: 0.6;
  font-weight: 900;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.footer-text__description {
  padding: 27px 320px 37px;
  margin: 0;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.5px;
}

.footer-form {
  position: relative;
  display: block;
  text-align: center;
  font-size: 0;
}

.footer-form__input {
  position: relative;
  display: inline-block;
}

.footer-form__input-text {
  width: 494px;
  height: 70px;
  padding-left: 66px;
  border: none;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  margin: 0 auto;
  background: rgb(255, 255, 255);
  color: rgb(150, 150, 150);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  line-height: 1.33;
  letter-spacing: 0.5px;
  vertical-align: top;
  outline: none;
}

.footer-form__input-text::placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  line-height: 1.33;
  letter-spacing: 0.5px;
}

.fa-envelope-o {
  position: absolute;
  top: 23px;
  left: 32px;
  color: rgb(151, 151, 151);
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}

.footer-form__button {
  position: relative;
  display: inline-block;
}

.footer-form__button-send {
  width: 208px;
  height: 70px;
  padding: 0;
  border: none;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  margin: 0;
  vertical-align: top;
  background: rgb(225, 0, 17);
  cursor: pointer;
  outline: none;
}

.footer-form__button-text {
  position: absolute;
  top: 30px;
  left: 56px;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 13px;
  text-transform: uppercase;
}

.fa-caret-right {
  position: absolute;
  top: 23px;
  left: 157px;
  color: rgb(255, 255, 255);
  font-family: "FontAwesome";
  font-weight: normal;
  font-size: 24px;
}

/*.footer-form__input-text:focus+.fa-envelope-o {
  display: none;
}*/

.footer-social {
  margin: 112px auto 57px;
}

.footer-social__buttons {
  padding: 0;
  text-align: center;
  list-style: none;
}

.footer-social__button {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 8px;
  background: rgb(255, 255, 255);
}

.footer-social-icon {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.footer-social__button--facebook::before {
  content: "\f09a";
  position: absolute;
  top: 17px;
  left: 26px;
  color: rgb(151, 151, 151);
  font-family: "FontAwesome";
  font-weight: normal;
  font-size: 34px;
}

.footer-social__button--twitter::before {
  content: "\f099";
  position: absolute;
  top: 17px;
  left: 22px;
  color: rgb(151, 151, 151);
  font-family: "FontAwesome";
  font-weight: normal;
  font-size: 34px;
}

.footer-social__button--youtube::before {
  content: "\f167";
  position: absolute;
  top: 17px;
  left: 22px;
  color: rgb(151, 151, 151);
  font-family: "FontAwesome";
  font-weight: normal;
  font-size: 34px;
}

.footer-social__button--medium::before {
  content: "\f23a";
  position: absolute;
  top: 17px;
  left: 22px;
  color: rgb(151, 151, 151);
  font-family: "FontAwesome";
  font-weight: normal;
  font-size: 34px;
}

.footer-copyright {
  margin-bottom: 30px;
  text-align: center;
}

.footer-copyright__text {
  padding: 0;
  margin: 0;
  color: rgb(151, 151, 151);
  font-family: Raleway;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.footer-copyright__link {
  color: rgb(48, 48, 48);
  text-decoration: none;
}
